.tmp/bitbake-builds
.tmp/bitbake
.tmp/poky

src/builds/*/build/
src/builds/*/config/
src/builds/*/layers/

src/builds/*/cache
src/builds/*/downloads
src/builds/*/sstate-cache
src/builds/*/tmp
src/builds/*/*.log
src/builds/*/*.sock
src/builds/*/*.lock

src/tmp
src/builds/build-bbb-bsp/outputs
